$primary_color:#000000;
$header_color: #eeededd5;
$color_trasparent: rgba(0, 0, 0, 0.8);
@font-face {
    font-family: "Quicksand-Regular";
    src: url(./police/Quicksand-Regular.otf);
  }
body
{
    background-color: $color_trasparent;
    color: $header_color;
    opacity: 0.8;
    font-family: "Quicksand-Regular", Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.flexbox
{
    display: flex;
    flex-direction: column;
}
.flexbox_row
{
    display: flex;
    flex-direction: row;
}
header
{
    height: 90px;
    background-color: $header_color; 
    color: complement($color: $primary_color);
    & nav
    {
        margin-left: 20%;
        margin-top: 50px;
        margin-right: 2%;
        & ul
        {
            font-size: 20px;
            width: 350px;
            justify-content: space-between;
            & li
            {
                padding-top: 6px;
                width: 120px;
            }
            & li:hover
            {
                background-color: $header_color;
                border-radius: 10px;    
                height: 40px;
            }
        }
        & #tenda
        {
            visibility: hidden;
            position: relative;
            border-radius: 10px;
            padding-top: 30px;
            width: 66%;
            background-color: $header_color;
            & li
            {
                width: 70px;
                height: 30px;
                text-align: center;
            }
        }
    }
        & h2
        {
            padding-left: 7px;
            padding-right: 7px;
            padding-top: 12px;
            border: 1px solid $primary_color;
            background-color: $primary_color;
            color: $header_color;
            border-radius: 20px;
            font-size: 20px;
            text-align: center;
        }
        & h1
        {
            margin-left: 15px;
            width: 400px;
        }
}
.song
{
    padding: 15px;
}
#produzioni
{
    width: 50%;
    margin: 60px;
    justify-content: center;
    align-content: center;
    height: 450px;
    flex-wrap: wrap;
    & p
    {
        width: 80%;
    } 
    & h2
    {
        position: absolute;
        top: 15%;
    }
}
#articoli
{
    margin: auto;
}
ul
{
    justify-content: space-around;
    text-align: center;
    margin-top: -20px;
    margin-right: 19%;
    
    & li
    {
        list-style-type: none;
     & a
     {
         text-decoration: none;
         color: $primary_color;
     }
    }
}
footer
{
    font-size: 20px;
    background-color: $header_color;
    color: $primary_color;
    & h3
    {
        text-align: center;
        padding-top: 10px;
    }
}



